<div class = "col-lg-8  col-lg-offset-2 text-center" style="padding-right: 50px;  padding-bottom:2px;">
	<h3 class="text-center"> 
		<i>"Everything should be made as simple as possible, but not simpler." <br>
		</h3>
		<h5 style ="text-align:center; padding-left:40px;">- A famous Physicists with a peculiar hairstyle and defined mustache </h5>
	</i>
	<b>
	<a href = "https://www.linkedin.com/in/jamedeo" target="_blank" style = 'color: white;'onclick = "var that=this;_gaq.push([‘_trackEvent’,’Download’,’PDF’,this.href]);setTimeout(function(){location.href=that.href;},200);return false;"> <span class="icon-linked-in"><img src="{{STATIC_URL}}japp/In-White-14px.png"></a>
	<a href = "https://www.linkedin.com/in/jamedeo" target="_blank" style = 'color: white;'onclick = "var that=this;_gaq.push([‘_trackEvent’,’Download’,’PDF’,this.href]);setTimeout(function(){location.href=that.href;},200);return false;"> LinkedIn</a> | 
	<a href = "{{STATIC_URL}}japp/JAmedeoResume.pdf"  download = "JAmedeoResume.pdf" style = 'color: white;'onclick = "var that=this;_gaq.push([‘_trackEvent’,’Download’,’PDF’,this.href]);setTimeout(function(){location.href=that.href;},200);return false;"> <span class="glyphicon glyphicon-cloud-download"></span></a> 
	<a href = "{{STATIC_URL}}japp/JAmedeoResume.pdf"  download = "JAmedeoResume.pdf" style = 'color: white;'onclick = "var that=this;_gaq.push([‘_trackEvent’,’Download’,’PDF’,this.href]);setTimeout(function(){location.href=that.href;},200);return false;"> Resume</a><br>
	<span class="glyphicon glyphicon-earphone"></span> (847) 507-9054 |
	<a href="mailto:JoeAmedeo@gmail.com" target="_top" style="color:white;" onclick = "var that=this;_gaq.push([‘_trackEvent’,’Download’,’PDF’,this.href]);setTimeout(function(){location.href=that.href;},200);return false;"><span class="glyphicon glyphicon-envelope"></span></a> 
	<a href="mailto:JoeAmedeo@gmail.com" target="_top" style="color:white;"  onclick = "var that=this;_gaq.push([‘_trackEvent’,’Download’,’PDF’,this.href]);setTimeout(function(){location.href=that.href;},200);return false;" >JoeAmedeo@gmail.com</a> 
</b>
</span>
</div>
