<div class = "col-lg-12">
	<div class="row" style = "padding-top:40px;">
		<div class = "serverside">
			<div class = "col-lg-2" id = "serverside">
				<p>
					<b>Server-side</b>
					<span style="float:right">
						<span class="glyphicon glyphicon-star stargreen"></span>
						<span class="glyphicon glyphicon-star stargreen"></span>
						<span class="glyphicon glyphicon-star stargreen"></span>
						<span class="glyphicon glyphicon-star stargreen"></span>
						<span class="glyphicon glyphicon-star stargreen"></span>
					</span>
				</p>
		<p class = "fliplist">
			Oracle SQL
			<span style="float:right">
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
			</span>
		</p>
		<p class = "fliplist">
			Python2.7
			<span style="float:right">
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
			</span>
		</p>
		<p class = "fliplist">
			Django1.7
			<span style="float:right">
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star-empty stargreen"></span>
			</span>
		</p>
		<p class = "fliplist">
			Apache2.4
			<span style="float:right">
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star-empty stargreen"></span>
			</span>
		</p>
	</div>
	<div class = "col-lg-3" id = "serversidetext">
		<p><b>Server-side</b>
		<span style="float:right">
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
		</span>
	</p>
		Whether it’s putting together on-the-fly reports or websites, building relational databases from scratch, or maintaining and optimizing production servers, server-side languages are my passion.  I currently have 5+ years experience with Python, 2+ years experience with SQL and Django.  I look forward to continuously developing my server-side skill sets.
	</div>
</div>
	<div class = "col-lg-1"></div>


<div class = "clientside">
	<div class = "col-lg-2" id = "clientside">
		<p><b>Client-side</b>
		<span style="float:right">
			<span class="glyphicon glyphicon-star starblue"></span>
			<span class="glyphicon glyphicon-star starblue"></span>
			<span class="glyphicon glyphicon-star starblue"></span>
			<span class="glyphicon glyphicon-star starblue"></span>
			<span class="glyphicon glyphicon-star-empty starblue"></span>
		</span>
	</p>
		<p class = "fliplist">HTML
			<span style="float:right">
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star-empty  starblue"></span>
			</span>
		</p>
		<p class = "fliplist">CSS
			<span style="float:right">
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star-empty  starblue"></span>
			</span>
		</p>
		<p class = "fliplist">Bootstrap
			<span style="float:right">
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star-empty  starblue"></span>
			</span>
		</p>
		<p class = "fliplist">jQuery
			<span style="float:right">
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star-empty  starblue"></span>
				<span class="glyphicon glyphicon-star-empty  starblue"></span>
			</span>
		</p>
		<p class = "fliplist">jQuery plug-ins
			<span style="float:right">
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star starblue"></span>
				<span class="glyphicon glyphicon-star-empty starblue"></span>
			</span>
		</p>
	</div>
	<div class = "col-lg-3" id = "clientsidetext">
		<p><b>Client-side</b>
		<span style="float:right">
			<span class="glyphicon glyphicon-star starblue"></span>
			<span class="glyphicon glyphicon-star starblue"></span>
			<span class="glyphicon glyphicon-star starblue"></span>
			<span class="glyphicon glyphicon-star starblue"></span>
			<span class="glyphicon glyphicon-star-empty starblue"></span>
		</span>
	</p> Beyond my core strengths of analyzing large data sets and server-side languages, I am well defined with client-side languages too.  Like many other subjects, in web development it is important to be knowledgeable in all aspects of the development process.  Leveraging this knowledge will result in greater continuity between teams and will also reduce time in development.
	</div>
</div>
	<div class = "col-lg-1"></div>




<div class = "operating">
	<div class = "col-lg-2" id = "operating">
		<p><b>Operating Environment</b>
		<span style="float:right">
			<span class="glyphicon glyphicon-star starorange"></span>
			<span class="glyphicon glyphicon-star starorange"></span>
			<span class="glyphicon glyphicon-star-empty starorange"></span>
			<span class="glyphicon glyphicon-star-empty starorange"></span>
			<span class="glyphicon glyphicon-star-empty starorange"></span>
		</span>
	</p>
		<p class = "fliplist">Windows7
			<span style="float:right">
				<span class="glyphicon glyphicon-star starorange"></span>
				<span class="glyphicon glyphicon-star starorange"></span>
				<span class="glyphicon glyphicon-star-empty starorange"></span>
				<span class="glyphicon glyphicon-star-empty  starorange"></span>
				<span class="glyphicon glyphicon-star-empty starorange"></span>
			</span>
		</p>
		<p class = "fliplist">Unix
			<span style="float:right">
				<span class="glyphicon glyphicon-star starorange"></span>
				<span class="glyphicon glyphicon-star starorange"></span>
				<span class="glyphicon glyphicon-star-empty starorange"></span>
				<span class="glyphicon glyphicon-star-empty starorange"></span>
				<span class="glyphicon glyphicon-star-empty  starorange"></span>
			</span>
		</p>
		<p class = "fliplist">Linux
			<span style="float:right">
				<span class="glyphicon glyphicon-star starorange"></span>
				<span class="glyphicon glyphicon-star starorange"></span>
				<span class="glyphicon glyphicon-star-empty starorange"></span>
				<span class="glyphicon glyphicon-star-empty  starorange"></span>
				<span class="glyphicon glyphicon-star-empty  starorange"></span>
			</span>
		</p>
	</div>
	<div class = "col-lg-3" id = "operatingtext">
		<p><b>Operating Environment</b>
		<span style="float:right">
			<span class="glyphicon glyphicon-star starorange"></span>
			<span class="glyphicon glyphicon-star starorange"></span>
			<span class="glyphicon glyphicon-star-empty starorange"></span>
			<span class="glyphicon glyphicon-star-empty starorange"></span>
			<span class="glyphicon glyphicon-star-empty starorange"></span>
		</span>
	</p>
		What can I say, I am simply not a System Admin; however, I actively develop on the three main commercially used operating systems.  In my current occupation I use Windows7 for development and a Linux Ubuntu server for production.  For personal use I develop on a Mac with a cloud server (which you’re visiting now!) running Linux CentOS.
	</div>
</div>
	<div class = "col-lg-1"></div>



<div class = "misc">
	<div class = "col-lg-3" id = "misc" style = "padding-right: 50px;">
		<p><b>Characteristic Traits</b>
		<span style="float:right">
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
		</span>
	</p>
		<p class = "fliplist">Leadership
			<span style="float:right">
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star-empty stargreen"></span>
			</span>
		</p>
		<p class = "fliplist">Team player
			<span style="float:right">
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
			</span>
		</p>
		<p class = "fliplist">Project Management
			<span style="float:right">
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
			</span>
		</p>
		<p class = "fliplist">Ability to enjoy a cup of coffee
			<span style="float:right">
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
				<span class="glyphicon glyphicon-star stargreen"></span>
			</span>
		</p>
	</div>
	<div class = "col-lg-3" id = "misctext">
		<p><b>Characteristic Traits</b>
		<span style="float:right">
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
			<span class="glyphicon glyphicon-star stargreen"></span>
		</span>
	</p>
		In conjunction with my development skills, I possess many positive characteristic attributes.  During the initial stage of my academic years, my aspirations were to become a teacher and while I changed my focus to Physics, I still maintain that mindset in my personal and professional life.  I enjoy helping others learn by sharing my knowledge and I never pass up an opportunity to learn myself!
	</div>
</div>
<div class = "col-lg-1"></div>
</div>
</div>
<script>
$('.serverside').hover(function() {
        $(this).find('#serverside').hide();
        $(this).find('#serversidetext').show();
    }, function() {
        $(this).find('#serversidetext').hide();
        $(this).find('#serverside').show();
});
$('.clientside').hover(function() {
        $(this).find('#clientside').hide();
        $(this).find('#clientsidetext').show();
    }, function() {
        $(this).find('#clientsidetext').hide();
        $(this).find('#clientside').show();
});
$('.operating').hover(function() {
        $(this).find('#operating').hide();
        $(this).find('#operatingtext').show();
    }, function() {
        $(this).find('#operatingtext').hide();
        $(this).find('#operating').show();
});
$('.misc').hover(function() {
        $(this).find('#misc').hide();
        $(this).find('#misctext').show();
    }, function() {
        $(this).find('#misctext').hide();
        $(this).find('#misc').show();
});

</script>