<div class = "col-lg-3"></div>
<div class = "col-lg-6">
	<h3 class = "titleText">
		Joe Amedeo's long-term goal is to obtain a position that leverages his current skill-sets in SQL, Python, and Django that also challenges him intellectually to grow as a professional engineer. Currently Joe’s five-year trajectory is to pursue a Masters or Doctoral degree, preferably in computational finance, mathematics, or physics, that will bring immediate benefits to his future company.  Joe is currently looking for a position at a small to mid-size company where his experience in analyzing large data sets, web development, and ability to explain complex problems in a clear, concise manner will be valued.  If you are a small start-up company or searching for the right addition to your data scientist team, please reach out to Joe and let’s discuss the opportunity further! 
	</h3>
</div>
<div class = "col-lg-3"></div>