<div class = "col-lg-6">
	<h3 class = "titleText">
		Joe Amedeo obtained his Bachelors of Science degree in Physics from Illinois State University focusing on computational numerical analysis. Currently Joe is a professional Radio Access Network Engineer at AT&T, a world leading Telecommunications Company.  In November 2014, Joe was recognized with a <i>Distinguished Employee Award</i> for developing an internal website currently used companywide. Beyond Joe's analytical and developmental skills, he also participates in the Six Sigma Leadership Program, a statistic-driven methodology program designed to improve quality management. Whether an individual’s passion is becoming a CEO or a lead scientist, Joe believes taking courses focusing around leadership and communication helps an individual work more collaboratively in a team environment.  
	</h3>
</div>
<div class = "col-lg-1"></div>
<div class = "col-lg-5">
	{% include 'japp/home_jacar.html' %}
</div>